site_name: The Unofficial Sharkey API Docs
nav:
  - Home: index.md
  - Posting (notes/create): posting.md
theme:
  name: material
  palette:
    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode